.media (min-width: 640px) {
    .header {
        font-size: 20px;
    }
}
.header {
  position: sticky;
  top: 0;
  display: grid;
  unicode-bidi: isolate;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: baseline;
  font-size: 20px;
  color: #00ff0d;
}

h1{
  font-family: Crozet;
  font-size: 30px;
}
.header-nav a{
  font-family: Avara;
  font-size: 20px;
  color:#00ff0d;
  text-decoration:dotted;
  transition: all 0.3s ease;
}

.header-nav a:hover {
  color: #ffffff;
}

body {
  font-optical-sizing: auto;
  background-color: black;
  cursor: url('/mnt/data/Black-Pixel-Mouse-Cursor-Arow-Fixed.png'), auto;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: #000000; /* Couleur de fond */
  white-space: nowrap;
}

/* Style du texte défilant */
.marquee-text {
    display: inline-block;
    font-family: Avara;
    font-size: 2em;
    color: #00ff0d;
    animation: marquee 8s linear infinite;
}

/* Animation pour le défilement */
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.projets img{
    display: flexbox;
    mix-blend-mode: normal;
    filter: invert(50);
    transform: scale(0.8);
    transition: 0.5s ease-in-out;
    background-color: black;
  }
  
  .projets img:hover{
    mix-blend-mode: normal;
    filter: grayscale(0);
    transform: scale(2);
  }
  
  
  .projets{
    display: grid;;
    grid-template-columns: repeat(1, 20px); /* auto-fit pour que le nombre d'éléments s'adaptent à la largeur du conteneur 
    320px -> 1 élément
    480px -> 2 éléments
    720px -> 3 éléments
    */
    gap: 10px;
    padding: 10px;
    justify-content: center;
  }

  .projet:hover{
    box-shadow: 0 0 16px rgba(197, 255, 173, 0.2);
  }
  
  .projet img{
    margin-bottom: 6px;
    object-fit: fill;
  }
  
  .page-projets .description{
    max-width: 480px;
  }
  
  .projet-data{
    align-self: end; /* pour aligner les éléments en bas dans la grille parent !!! */
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-bottom: 12px;
    border-top: 1px solid #ddd; 
  }
  
  .projet-data>*{
    margin: 0;
    padding-right: 12px;
    font-size: 1em;
    line-height: 3em;
    border-bottom: 1px solid #ddd;
  }
  
  @media (min-width: 320px){
    .xl{
      grid-column: span 2;
    }
  }
  
  /* gros level */
  .projets{
    /* flow */
    grid-auto-flow: row dense;
  }
  
  
  @media (min-width: 320px){
    .projet-xl{
      grid-column: span 2;
      grid-row: span 2;
    }
  }
  
  .projet-xl img{
    width: 100%;
    height: calc(100% - 36px); /* 100% - 6px (margin-bottom) - 24px (line-height) -6px padding .projet */
    object-fit: cover; /* pour que l'image couvre tout le conteneur */
  }
  
  
  /* fx javascript */
  .projet{
    opacity: 1;
    transition: opacity 0.8s ease;
  }
  .projet.unactive{
    opacity: 0.5;
    /* filter: grayscale(1); */
    z-index: -1;
  }