@font-face {
  font-family: 'Neue Montreal';
  src: url(webfonts/NeueMontreal-Bold.woff) format('woff'),
       url(webfonts/NeueMontreal-Bold.woff2) format('woff2');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Coolvetica';
  src: url(webfonts/CoolveticaBk-Regular.woff2) format('woff2'),
       url(webfonts/CoolveticaRg-Bold.woff) format('woff');
  font-weight: normal;
  font-style: bold;
}

h1, h2,.GROSTITRE, .header-nav{
  font-family: 'Neue Montreal', sans-serif;
}

.texte, .a-propos, .titre-footer, h3 {
  font-family: 'Coolvetica', sans-serif;
}

.header {
  margin-top: 20px;
}

.header-nav{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content:space-between;
  align-items: baseline;
  margin-left: 20px;}

h1{
position: sticky;
font-family: Neue Montreal;
margin-left: 10px;
font-size: 15em;
color: #000000;
margin-top: 20px;
}

.header-nav Léa Borgne{
  color: white
}

.header-nav a{
font-family: Coolvetica;
font-style: normal;
justify-content: space-between;
font-size: 30px;
color:#000000;
text-decoration:dotted;
transition: all 0.3s ease;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 160px;
}

a
{color: currentcolor;}

.header-nav a:hover {
color: #00db0f;
}

body{
  background-color: rgb(255, 255, 255);
  margin: 5px;
}

h4{
  padding-top: 0px;
  font-family: Coolvetica;
  font-weight: lighter;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.projet img{
object-fit: fill;
}

.GROSTITRE{
  display: block;
  display: flexbox;
   font-family: Neue Montreal;
   color: #00db0f;
   -webkit-text-stroke: 5px #00db0f(255, 67, 192); 
   font-size: 14em;
   margin-top: 20px;
  margin-left: 60px;
}

.texte{
font-family: Coolvetica;
font-style: bold;
font-size: 22px;
color: #000000;
margin-top: 0.1em;
margin-left: 20px;
padding-left: 2em;
padding-right: 2em;
line-height: 12px;
}

.a-propos{
  font-family: Coolvetica;
  font-style: bold;
  font-size: 30px;
  color: #00ff0d;
  margin-top: 0.1em;
  margin-left: 20px;
  padding-left: 2em;
  padding-right: 2em;
  line-height: 35px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  line-height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
img{
  width: 100%;
  scale: 0.99;
  background-color: black;
  align-self: center;
}

.slider-1 {
  width: 100%;
  overflow: hidden;
}
.slider-1 .slider{
  animation: slider-1 15s infinite ease-in-out;
  display: flex;
}
@keyframes slider-1 {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-100%);
  }
  50%,
  70% {
    transform: translateX(-200%);
  }
  75%,
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
} 

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  grid-template-columns: max-content max-content;
  padding: 30px;
  gap: 30px;
  position: relative;
  font-family: Coolvetica;
  max-width: 100%;
}

.titre-footer{
  font-family: Coolvetica;
  color: #00ff0d;
  font-style: bolder;
  font-size: 30px;
}

.texte-footer{
  color:#000000;
  font-size: 30px;
  text-decoration: dotted;
  transition: all 0.3s ease;
}
.hr{
    border: none; 
    height: 1px; 
    background-color: black; 
    margin: 7em 0px 20px;
}

  @media (max-width: 448px) {
    .hover-container {
      flex-direction: column;
    }

  }
  .carousel {
    display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 0px;
  margin: 0;
  scroll-behavior: smooth;
  }
  .carousel-images {
  display: flex;
  gap: 0px;
  max-width: 99%;
  margin-top: 75px 0 auto 0;
  margin-left: 20px;
  margin-right: none;
  scrollbar-width: none;
  overflow-x: auto;
    transition: transform 0.5s ease-in-out;
  }
  .carousel-image {
    min-width: 40%;
    position: relative;
  }
  .carousel-image img {
    width: 100%;
    display: block;
  }
  .carousel-image h4 {
    text-align: center;
    text-decoration: none;
    bottom: 10px;
    left: 20px;
    color: rgb(0, 0, 0);
    padding: 5px;
    display: none;
  }
  .carousel-image:hover h4 {
    display: block;
  }
